
@{
    ViewBag.Title = "Service";
}

<h2>View</h2>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link href="~/CustomStyleSheet/service.css" rel="stylesheet" />
</head>
<body>
    <section>
        <!-- CARD - 1 -->
        <div class="card">
            <div class="card-container">
                <div class="card-front">
                    <img src="~/Folder/carousel-2.jpg" />
                </div>
                <div class="card-back">
                   <h2>DRY CLEANING</h2>
                </div>
            </div>
        </div>

        <!-- CARD - 2 -->
        <div class="card">
            <div class="card-container">
                <div class="card-front">
                    <img src="~/Folder/imageflip.png" />
                </div>
                <div class="card-back">
                  <h2>WASH AND FOLD</h2>
                </div>
            </div>
        </div>
        <!-- CARD - 3 -->
        <div class="card">
            <div class="card-container">
                <div class="card-front">
                    <img src="~/Folder/imageflipp.jpeg" />
                  
                </div>
                <div class="card-back">
                   <h2>IRON</h2>
                </div>
            </div>
        </div>
        <!-- CARD - 4 -->
        <div class="card">
            <div class="card-container">
                <div class="card-front">
                   
                </div>
                <div class="card-back">
                    <img src="./png/purple_back.png" />
                </div>
            </div>
        </div>
        <!-- CARD - 5 -->
        <div class="card">
            <div class="card-container">
                <div class="card-front">
                    <img src="./png/10C.png" />
                </div>
                <div class="card-back">
                    <img src="./png/purple_back.png" />
                </div>
            </div>
        </div>
        <!-- CARD - 6 -->
        <div class="card">
            <div class="card-container">
                <div class="card-front">
                    <img src="./png/9C.png" />
                </div>
                <div class="card-back">
                    <img src="./png/purple_back.png" />
                </div>
            </div>
        </div>
        <!-- CARD - 7 -->
        <div class="card">
            <div class="card-container">
                <div class="card-front">
                    <img src="./png/8C.png" />
                </div>
                <div class="card-back">
                    <img src="./png/purple_back.png" />
                </div>
            </div>
        </div>
        <!-- CARD - 8 -->
        <div class="card">
            <div class="card-container">
                <div class="card-front">
                    <img src="./png/7C.png" />
                </div>
                <div class="card-back">
                    <img src="./png/purple_back.png" />
                </div>
            </div>
        </div>
    </section>
</body>
</html>