
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 100px;
    
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

/*.card {
    color: white;
    float: left;
    width: calc(25% - 20px);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 500px;
   
}
*/

.card {
    font-size: 30px;
    color: aqua;
    float: left;
    width: calc(25% - 20px);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width: 600px;
    margin-left: 120px;
    text-align: center;
   
}

    .card p {
        font-size: 18px;
    }

.cardContainer:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}
