body {
   
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 150px;
}

* {
    box-sizing: border-box;
}



.card {
    font-size:30px;
    color: aqua;
    float: left;
    width: calc(25% - 20px);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
    width:600px;
    margin-left: 120px;
    text-align: center;
    background-color: dimgrey;
    
}
.amount{
    color:palegoldenrod;
}

