body{
    background-color:lightgrey;
}


table {
    border-collapse: collapse;
    width: 100%;
    font-size:18px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color:lightgreen;
    
}
