body {
    background-image: url('../folder/order.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    margin-top:100px;
}




.booknow {
   text-align:center;
    font-size: larger;
    color:darkblue;
    font-weight:bolder;
    

}


