@model Laundry.Models.Order

@{
    ViewBag.Title = "TotalAmount";
}



<h2>TotalAmount </h2>

<h3>Category: @ViewBag.Message</h3>
<h3>Quantity: @ViewBag.Quantity</h3>
<h3>Unit Price: @ViewBag.UnitPrice</h3>
<h3>Amount: @ViewBag.Amount</h3>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Payment" class="btn btn-default" />
    </div>


</div>